<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
</head>

<body>


    <body>
        <div class="container">
            <div class="row">


                <div class="col s7 m7">
                    <div class="card-panel cyan lighten-5">

                        <div class="input-field col s12">
                            <textarea id="resultArea" name="result" class="materialize-textarea"></textarea>
                            <label  id="labelForResultArea" for="resultArea">Your calculations here</label>
                        </div>
                        <div class="row">

                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red" onclick="onCalcButtonClick('(')">(</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick(')')">)</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('C')">C</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('/')">/</a>
                            </div>


                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('7')">7</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('8')">8</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('9')">9</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('X')">X</a>
                            </div>


                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('4')">4</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('5')">5</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('6')">6</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('-')">-</a>
                            </div>


                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('1')">1</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('2')">2</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('3')">3</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('+')">+</a>
                            </div>


                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('C')">C</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('0')">0</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('.')">.</a>
                            </div>
                            <div class="col s3">
                                <a class="btn-floating btn-large calc-button cyan darken-1 waves-effect waves-light red"  onclick="onCalcButtonClick('=')">=</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>


    <p th:text="'Hello, ' + ${name} + '!'" />
</body>

<script>

function onCalcButtonClick(e){

    console.log(e);
    document.getElementById('resultArea').value += e;
    var labelDiv = document.getElementById('labelForResultArea');
    labelDiv.classList.add("active");
}

</script>

</html>